#root {
  background: rgb(23, 11, 37);
  background: linear-gradient(
    180deg,
    rgba(23, 11, 37, 1) 0%,
    rgba(101, 25, 55, 1) 100%
  );
}

.App {
  display: flex;
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  height: auto;
}
